html, body
{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
     font-size: 1em;
}
#global-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr ;
}


header{
    grid-column: 1/3;
    grid-row: 1/2;
    display: inherit;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    font-size: 1.5em;
    background-color: lightgray;

}


main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-column: 1/3;
    border: groove;
}

main aside {

    grid-column: 1/2;
    grid-row: 1/2;
    border: groove;
    text-align: center;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 50px 1fr;
    background-color: lightblue;

}


main .container{
    grid-column: 2/4;
    grid-row: 1/3;
    border: groove;
    
}


main .container .pizzas-container{
    border: groove;
    grid-row: 1/2;
}


main .container .command-container{
    border: groove;
    grid-row: 2/3;
    background-color: #ff8675;
}


footer{

    text-align: center;
    
}


h1{
    margin :0px;
    line-height: normal;
}

aside li{
    list-style-type: none;
}


aside li a{
    text-decoration: none;
    gap: 10px;
    color:#B34141;
    margin: 10px;
}

ul{
    grid-column: 2/3;
    text-align: left;
}

aside h2{
    grid-column: 1/3;
    ;
    
}


h2{
    text-align: center;
}

.garniture form 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15%;
    
}


/*.garniture li:nth-child(2n+1) {
    grid-column:1/2;
    margin-left: 47%;
}
.garniture li:nth-of-type(2n) {
    grid-column:2/3;
    gap: 200px;
     margin-right: 10%;

}*/


.garniture li {
    list-style: none;
    font-size: 20px;
    align-items: right;
}
<<<<<<< HEAD

table{
    border-collapse: collapse;
    width: 100%;
}

table tr{
    height: 50px;
    border: 1px solid black;
}

.radio_format{
    text-align: center;
    justify-content: center;
    width: 10%;
    border: 1px solid black;
}




.btn-commander {
    text-align: center;
    padding: 30px;
}

input[type="button"]{
      text-align: center;
    height: 50px;
    font-size: large;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    cursor: pointer;
}
.btn-commander input{

    background-color: #0d6efd;
    color: #ffffff;
}


.btn-delete input{
     background-color: #dc3545;
    color: #ffffff;
}

.command-ligne{
    border: 1px solid black;
    width: 100%;
}

thead,  tfoot{
    border: 1px solid black;
}
=======
.table-garniture {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    border-collapse: collapse;
}

.table-garniture td {
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 40px;
    font-size: 18px;
    vertical-align: middle;
}

.garniture {
    display: flex;
    justify-content: center;
}

.garniture form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.garniture form > div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.table-format {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    border-collapse: collapse;
}

.table-format td {
    border: 1px solid black;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 18px;
}


>>>>>>> 50c790a37014c5e44d2a24288450a333bb8e987e
